body {
	margin: 0;
	font-family: Raleway,sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	margin: 0; 
	padding: 0;
}

nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	z-index: 99;
}

nav > ul:first-of-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

nav > ul:last-of-type {
	width: 100%;
	display: none;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	z-index: 999;
}

nav a {
	padding: 8px 16px;
	text-transform: uppercase;
	color: #000;
	font-size: 16px;
	font-weight: 100;
	transition-duration: 0.5s;
}

nav > a {
	letter-spacing: 2px;
	font-weight: 400;
}

nav a:hover {
	background-color: #ccc;
}

header {
	max-width: 100%;
	height: calc(100vh - 96px);
	background-image: url(../images/1.jpg);
	background-position: center;
	background-size: cover;
	padding: 48px;
	filter: grayscale(50%);
	display: block;
	line-height: 2.2;
}

header  span {
	color: #fff;
	font-weight: 100;
}

header > div:first-of-type {
	display: flex;
	justify-content: center;
	flex-direction: column; 
	margin-top: 10%;	
}

header > div:first-of-type > span:first-of-type {
	font-size: 64px;
}

header > div:first-of-type > span:last-of-type {
	font-size: 16px;
}

header > div:first-of-type > a {
	width: 250px;
	text-align: center;
	padding: 12px 20px;
	background-color: #ccc;
	opacity: 0.6;
	color: #000;
	font-size: 18px;
	margin-top: 20px;
	transition-duration: 0.5s;
}

header > div > a:hover {
	opacity: 0.8;
}

header > div:last-of-type {
	margin-top: 13%;
}

header > div:last-of-type > a  {
	color: #757575;
	font-size: 1.3em
}

#section_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 128px 16px;
}

#section_1  h2 {
	font-weight: 200;
}

#section_1 > p {
	font-size: 15px;
	font-weight: 100;
}

#section_1 > div {
	margin-top: 6%;
	display: flex;
	justify-content: space-around;
}

#section_1 > div > div {
	width: 23%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#section_1 > div > div > p {
	font-size: 14px;
	line-height: 1.8;
	text-align: center;
	
}

#section_2 {
	padding: 128px 40px;
	width: calc(100% - 80px );
	background-color: #f1f1f1;
	display: flex;
}

#section_2 > div {
	width: 50%;
}

#section_2 > div > h2 {
	font-weight: 200;
}

#section_2 > div > p {
	width: 75%;
	line-height: 1.8;
	font-size: 14px;
	margin-bottom: 40px;
}

#section_2 > div > a {
	color: #fff;
	background-color: #000;
	padding: 10px 20px;
	transition-duration: 0.5s;
}

#section_2 > div > a:hover {
	color: #000;
	background-color: #ccc;
}

#section_2 img {
	vertical-align: middle;
	width: 100%;
	height: auto;
	border-radius: 8px;
}

#section_3 {
	width: calc( 100% - 32px );
	padding: 0 8px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 128px 16px;
}

#section_3 > div {
	margin-top: 64px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#section_3 > div > div {
	width: 24%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#section_3 > div > div > img {
	width: 100%;
	vertical-align: middle;
	filter: grayscale(75%);
}

#section_3 > h2 {
	font-weight: 400;
	letter-spacing: 1px;
}

#section_3 > p {
	font-size: 18px;
}

#section_3 > div > div > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 16px 10px 16px;
}

#section_3 > div > div > div h3 {
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 24px;
}

#section_3 > div > div > div p {
	line-height: 1.8;
	font-size: 15px;
}

#section_3 > div > div > div p:first-of-type {
	opacity: 0.6;
}

#section_3 div a {
	padding: 8px 16px;
	width: calc( 100% - 32px );
	color: #000;
	background-color: #f1f1f1;
	text-align: center;
}

#section_3 div a:hover{
	background-color: #ccc;
}

#section_4 {
	padding: 35px 16px;
	background-color: #616161;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#section_4 p {
	color: #fff;
	line-height: 0.6;
	text-align: center;
}

#section_4 p:first-of-type {
	font-size: 36px;
}

 p:last-of-type {
	font-size: 16px;
}

#section_5 {
	width: calc( 100% - 32px );
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 128px 16px;
}

#section_5 > h2 {
	font-weight: 400;
	letter-spacing: 1px;
}

#section_5 > p {
	font-size: 18px;
}

#section_5 > div {
	margin-top: 64px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#section_5 > div > div {
	width: 23%; 
	margin: 10px;
}

#section_5 > div > div:hover {
	opacity: 0.6;
}

#section_5 > div > div > img {
	width: 100%;
	vertical-align: middle;
}

#section_6 {
	padding: 64px 16px;
	display: flex;
	justify-content: space-around;
	background-color: #F1F1F1;
} 

#section_6 > div {
	padding: 0 8px;
	width: 50%;
}

#section_6 > div > h2 {
	font-weight: 400;
}

#section_6 > div > p {
	line-height: 1.8;
	font-size: 15px;
	width: 80%;
}

#section_6 .loding_1, #section_6 .loding_2, #section_6 .loding_3 {
	width: 100%;
	height: 20px;
	background-color: #9E9E9E;
	color: #fff;
	height: 29px;
}

#section_6 .loding_1 > div , #section_6 .loding_2 > div, #section_6 .loding_3 > div{
	background-color: #616161;
	text-align: center;
	padding: 5px;
}

#section_6 .loding_1 > div {
	width: 90%;
}

#section_6 .loding_2 > div {
	width: 85%;
}

#section_6 .loding_3 > div {
	width: 75%;
}

#section_6 > div > div > p {
	font-size: 16px;
	letter-spacing: 3px;
}

#section_6 > div > div > p > i{
	margin-right: 10px;
}

#section_7 {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 128px 16px;
	background-color: #616161;
}

#section_7 > h2 {
	font-weight: 400;
	letter-spacing: 1px;
	color: #fff
}

#section_7 > p {
	font-size: 18px;
	color: #fff
}

#section_7 > div {
	margin-top: 64px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#section_7 > div > div {
	background-color: #fff;
	width: 32%;
	text-align: center;
}

#section_7 > div > div > h2 {
	background-color: #000;
	color: #fff;
	font-size: 24px;
	padding: 32px	0;
	margin: 0;
}

#section_7 > div > div:nth-of-type(2) h2 {
	background-color: #f44336;
	padding: 48px 0;
}

#section_7 > div > div:first-of-type, #section_7 > div > div:last-of-type  {
	margin-top: 16px;
	margin-bottom: 16px;
}

hr {
	border: 1px solid #ddd;
}

#section_7 > div > div > p {
	padding: 8px 0;
}

#section_7 > div > div > span {
	display: inline-block;
	padding: 16px  0;
}

#section_7 > div > div > span > b {
	font-size: 30px;
	letter-spacing: 4px;
}

#section_7 > div > div > span > p {
	opacity: 0.6;
}

#section_7 > div > div > div {
	background-color: #f1f1f1;
	padding: 30px;
}

#section_7 > div > div > div > a {
	background-color: #000;
	padding: 12px 24px;
	color: #fff;
}

#section_7 > div > div > div > a:hover {
	background-color: #ccc;
}

#section_8 {
	padding: 128px 16px;
	background-color: #f1f1f1;
}

#section_8 > div:first-of-type {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#section_8 > div:first-of-type h2 {
	font-weight: 400;
	letter-spacing: 1px;
}

#section_8 > div:first-of-type p {
	font-size: 18px;
}

#section_8 > div:nth-of-type(2) {
	margin-top: 48px;
}

#section_8 > div:nth-of-type(2) p {
	font-size: 15px;
}

#section_8 > div:nth-of-type(2) p > i {
	margin-right: 20px;
}

#section_8 form input {
	width: calc( 100% - 16px );
	padding: 10px;
	margin-top: 15px;
	font-size: 15px;
}

#section_8 form button {
	margin-top: 15px;
	background-color: #000;
	color: #fff;
	padding: 16px 20px;
	border: none;
}

#section_8 form button:hover {
	background-color: #ccc;
}

#section_8 img {
	width: 100%;
	margin-top: 48px;
	filter: grayscale(75%);
}

footer {
	background-color: #000;
	display: flex;
	align-items: center;
	flex-direction:column;
	color: #fff;
	padding: 64px;
	line-height: 1.8;

}

footer > a {
	padding: 8px 16px;
	font-size: 15px;
	color: #000;
	background-color: #f1f1f1;
	margin-bottom: 20px;
}

footer > a:hover {
	background-color: #ccc;
}

footer p > a {
	text-decoration: underline;
	color: #fff;
	font-size: 15px;
}

footer div > a {
	font-size: 24px;
	color: #fff;
}

footer div > a:hover {
	color: #999999
}

@media only screen and (max-width:960px) {
	header > div:first-of-type > span:first-of-type {
		font-size: 48px;
	}
	
	header > div:last-of-type {
		margin-top: 30%;
	}

	#section_3 > div > div {
		width: 48%;
	}

	#section_5 > div > div {
		width: 40%;
	}

	header > div:first-of-type > a {
	width: 150px;
	padding: 6px 10px;
	font-size: 12px;
} 
}

@media only screen and (max-width:750px) {
	header > div:first-of-type > span:first-of-type {
		font-size: 32px;
	}

	header > div:first-of-type > span:last-of-type {
		font-size: 12px;
	}

	header > div:last-of-type {
		margin-top: 52%;
	}
}

@media only screen and (max-width:625px) {

	nav > ul:first-of-type {
		display: none;
	}

	nav > ul:last-of-type {
		display: flex;
	}

	nav {
		justify-content: center;
	}
	
	#section_1 > div {
		flex-direction: column;
		align-items: center;
		margin-top: 25px;
	}

	#section_1 > div > div {
		width: 95%;
	}

	#section_2 {
		flex-direction: column;
		align-items: center;
	}

	#section_2 > div {
		width: 95%;
	}	

	#section_2 > div > img {
		margin-top: 30px;
	}

	#section_3 > div > div {
		width: 95%;
		margin-top: 20px;
	}

	#section_4 {
		flex-direction: column;
	}

	#section_5 > div > div {
		width: 95%;
	}

	#section_6 {
		flex-direction: column;
		align-items: center;
	}

	#section_6 > div {
		width: 95%;
	}

	#section_7 > div  {
		flex-direction: column;
		align-items: center;
	}

	#section_7 > div > div {
		width: 95%;
	}
}

@media only screen and (max-width:555px) {
	nav > ul:last-of-type {
		flex-direction: column;
		align-items: center;
	}

	nav > ul:last-of-type li {
		margin-top: 10px;
	}

	header > div:first-of-type {
		margin-top: 170px;
	}
}




